{% extends 'base.html' %}

{% block content %}
{# This is going to be a page to share friend-code #}
<h1>Title</h1>

<h2> Let's become a friend! </h2>
<a href="/friends/new">Add Post</a><br>
{% set count = namespace(value=1) %}
{% for post in posts %}
    <br><a href="/friends/{{ post._id }}">
    <small>Post num: {{ count.value }}</small><br>
    <small>Nickname: {{ post.nickname }}</small><br>
    <small>Post title:{{ post.title }}</small><br>
    <small>Posted on: {{ post.datetime }} </small><br>
    </a><br>
    {% set count.value = count.value + 1 %}
{% endfor %}

{% endblock %}

