{% extends 'base.html' %}

{% block content %}
<a href="/friends">Back to Home</a><br>
<small>Nickname: {{ post.nickname }}</small>
<small>Friend Code:{{ post.friendcode }}</small>
<h1> Title: {{ post.title }} </h1>
<h2> Description: {{ post.description }}</h2>
<a href="/friends/{{ post._id }}/edit"><button>Edit</button></a>
<p><form method="POST" action="/friends/{{ post._id }}/delete"><button type="submit">Delete</button></form></p>

{% include 'partials/comment_form.html' %}
{% for comment in comments %}
    {% include 'partials/comment.html' %}
{% endfor %}


{% endblock %}