<form class="form" action='/friends/comments' method='POST'>
    <input type='hidden' value='{{ post._id }}' name='post_id'/>
    <div class="group">
        <fieldset>
            <div class="d-flex ms-5 me-5 align-items-center">
                <label>Annonymous</label><br>
                <img width="50px" src="/static/images/profile.jpg">
            </div>
        </fieldset>
        <div class="textbox">
            <p>
                <textarea required 
                    name='comment'
                    rows='1'
                    placeholder='Leave a comment...'></textarea>
            </p>
            <button type='submit'>Save Comment</button>
        </div>
    </div>
</form>
