<p>
    <label>Nickname</label><br>
    <input type='text' name='nickname' value="{{ post.nickname }}" required/>
</p>
<p>
    <label>Friend Code</label><br>
    <input type='text' name='friendcode' value="{{ post.friendcode }}" required/>
</p>
<p>
    <label>Title</label><br>
    <input type='text' name='title' value="{{ post.title }}" required/>
</p>
<p>
    <label>Description</label><br>
    <input type='text' name='description' value="{{ post.description }}" required/>
</p>
</fieldset>

<p>
    <button type='submit'>Save Post</button>
</p>
<a href="/friends/{{ post._id }}"><button>Cancel</button></a>
